@import url('../../styles/Layout.css');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.search-bar {
  height: 3.75rem; 
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-container {
  flex: 1;
  padding: 1.25rem; 
  display: flex;
  flex-direction: column;
  gap: 1.25rem; 
}

.summary {
  background-color: #fff;
  padding: 1.25rem; 
  border-radius: 0.5rem; 
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
  width: 70%;
  margin: 0 auto;
}

.summary h2 {
  margin-bottom: 0.625rem; 
  font-size: 1.125rem; 
  font-weight: bold;
}

.summary .total p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3125rem; 
}

.summary .total p span {
  font-weight: bold;
}

.form-container {
  background-color: #fff;
  padding: 1.25rem; 
  border-radius: 0.5rem; 
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
  width: 70%;
  margin: 0 auto;
}

.form-container h2 {
  margin-bottom: 0.625rem;
  font-size: 1.125rem; 
  font-weight: bold;
}

.form-section {
  margin-bottom: 1.25rem; 
}

.form-section h3 {
  margin-bottom: 0.625rem; 
  font-size: 1rem; 
  font-weight: bold;
}

form label {
  display: block;
  margin-bottom: 0.625rem; 
}

form input {
  width: 100%;
  padding: 0.5rem; 
  border: 0.0625rem solid #ccc; 
  border-radius: 0.25rem; 
}

hr {
  border: none;
  border-top: 0.0625rem solid #ccc; 
  margin: 1.25rem 0; 
  width: 100%;
}

.confirm-button {
  text-align: center;
}

.confirm-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem; 
  border-radius: 0.25rem; 
  cursor: pointer;
  font-size: 1rem; 
}

.confirm-button button:hover {
  background-color: #0056b3;
}