.heroSection {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.heroSection > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroTitleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-blue-500);
  text-shadow: var(--mid-bs);
}
.heroTitleContainer > h1 {
  font-size: 10rem;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .heroTitleContainer > h1 {
    font-size: 5rem;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .heroTitleContainer > h1 {
    font-size: 3rem;
  }
}
