@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* COLORES *
  /* AZULES */
  --blue-900: #1C398E;
  --blue-700: #1447E6;
  --blue-500: #2B7FFF;
  --blue-300: #8EC5FF;
  --blue-100: #DBEAFE;
  --blue-50: #EFF6FF;

  /* CELESTES */
  --ligth-blue-900: #0C4A6E;
  --ligth-blue-700: #0369A1;
  --ligth-blue-500: #0EA5E9;
  --ligth-blue-300: #7DD3FC;
  --ligth-blue-100: #E0F2FE;
  --ligth-blue-50: #F0F9FF;

  /* GRAYS */
  --gray-900: #0F172A;
  --gray-700: #334155;
  --gray-500: #64748B;
  --gray-300: #CBD5E1;
  --gray-100: #F1F5F9;
  --gray-50: #F8FAFC;

  /* REDS */
  --red-900: #82181A;
  --red-700: #C10007;
  --red-500: #FB2C36;
  --red-300: #FFA2A2;
  --red-100: #FEE2E2;
  --red-50: #FEF2F2;

  /* GREEN */
  --green-900: #0D542B;
  --green-700: #008236;
  --green-500: #00C950;
  --green-300: #7BF1A8;
  --green-100: #DCFCE7;
  --green-50: #F0FDF4;



  /* BOX-SHADOWS */
  --low-bs: 0 .1rem .1rem rgba(0,0,0,.1);
  --mid-bs: 0 .1rem .2rem rgba(0,0,0,.1);
  --high-bs: 0 .2rem .4rem rgba(0,0,0,.1);
  
  /* TIPOGRAFIAS */
  --karla: "Karla", sans-serif;

}


/* MEDIDAS  */

/* 
  TABLET 768PX
  DESKTOP 1024PX
*/