/* COLORES */
:root {
  /* AZULES */
  --blue-900: #1c398e;
  --blue-700: #1447e6;
  --blue-500: #2b7fff;
  --blue-300: #8ec5ff;
  --blue-100: #dbeafe;
  --blue-50: #eff6ff;

  /* CELESTES */
  --light-blue-900: #0c4a6e;
  --light-blue-700: #0369a1;
  --light-blue-500: #0ea5e9;
  --light-blue-300: #7dd3fc;
  --light-blue-100: #e0f2fe;
  --light-blue-50: #f0f9ff;

  /* GRAYS */
  --gray-900: #0f172a;
  --gray-700: #334155;
  --gray-500: #64748b;
  --gray-300: #cbd5e1;
  --gray-100: #f1f5f9;
  --gray-50: #f8fafc;

  /* REDS */
  --red-900: #82181a;
  --red-700: #c10007;
  --red-500: #fb2c36;
  --red-300: #ffa2a2;
  --red-100: #fee2e2;
  --red-50: #fef2f2;

  /* GREEN */
  --green-900: #0d542b;
  --green-700: #008236;
  --green-500: #00c950;
  --green-300: #7bf1a8;
  --green-100: #dcfce7;
  --green-50: #f0fdf4;

  /* Shadows */
  --low-bs: 0 1px 2px 0 rgba(15, 23, 42, 0.5);
  --high-bs: 0 4px 6px -1px rgba(15, 23, 42, 0.1),
    0 2px 4px -1px rgba(15, 23, 42, 0.1);
}
